#chatUsersContainer {
	width: 250px;
	height: 500px;
	border: 1px solid rgb(180, 180, 180);
}

#chatUsersContainer .chatLinks {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px 10px 5px 10px;
}

#chatMessagesContainer {
	width: 500px;
	height: 500px;
	border: 1px solid rgb(180, 180, 180);
	overflow: auto;
}

#chatMessagesContainer .messageReceived {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 10px;
}

#chatMessagesContainer .messageSent {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	padding: 10px;
}

