body {
    margin:2rem;
    position: relative;
}

.profile {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.userContainer {
    text-align: center;
}

.allTabContainer {
    float: left;
}

.tab-pane {
    padding:2em 0;
}

.nav-link {
    width: 175px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(3,3,37,0.1) 100%);
}
.nav-link.active {
    font-weight: bold;
    background:#fff;
}

.userInfo {
	padding: 15px 100px 0px 100px;
	display: flex;
	height: 100px;
    width: 100%;
}
    
.userNameInfo {
	flex: 1;
	display: flex;
}

.userInfoContainer {
    flex: 1;
    display: flex;
}

.userInfoContainer .profilePic {
	height: 80px;
	width: 80px;
}

.userNameInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 25px;
}

.userInfo .title {
    font-size: 24px;
    font-weight: 400;
    color: #111;
}

.userInfo .subscriberCount {
    font-size: 14px;
    color: rgba(17, 17, 17, 0.6);
}

.userInfo .subButtonContainer {
    flex: 1;
    display: flex;
    justify-content:flex-end;
}

.userInfo .subButtonContainer .subscribeButton {
    align-items: center;
    display: flex;
}

.userInfo .subButtonContainer .subscribeButton .button {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(167, 75, 253);
    color: white;
}

.tabs {
    flex: 1;
    display: flex;
}

.tab-content {
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
}

.nav-item a {
    color: rgba(17, 17, 17, 0.6)
}