body {
    margin:2rem;
    position: relative;
}

.userContainer {
    text-align: center;
}

.username {
    display:inline-block;
    width: 100px;
    padding-left: 10px;
    position: relative;
    font-size: 50px;
    font-weight: bold;
}

.profilePictureContainer {
    float: left;
    width: 105px;
    padding-right: 10px;
    position: relative;
    border-color: rgba(219, 219, 219, 0.336);
    border-style: solid;
}

.profilePicture {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.allTabContainer {
    float: left;
}

.tab-pane {
    padding:2em 0;
}

.nav-link {
    width: 175px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(3,3,37,0.1) 100%);
}
.nav-link.active {
    font-weight: bold;
    background:#fff;
}